In [1]:
# pip install google-generativeai

In [2]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyCa-_hgJ4-eziScNUZ5VVNh-bB_CITs_lY'
llm = GooglePalm(google_api_key=api_key, temperature = 0.2)

In [3]:
print(llm("Write a Small poem in hinglish"))

**Title: **Dil ka Khushboo

**Hindi:**

Dil ka khushboo,

Jo har pal mehkaaye,

Har gam door bhagayaye.

**English:**

The fragrance of the heart,

That blossoms with every beat,

And drives away all sorrows.

In [4]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "omkar&"
db_host = "localhost"
db_name = "atliq_tshirts"

In [5]:
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)

In [6]:
from sqlalchemy import create_engine, MetaData

# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

# Create a MetaData object to hold table information
metadata = MetaData()

# Reflect the database schema
metadata.reflect(bind=engine)

# Access the table information
table_info = metadata.tables

# Print the table information
for table_name, table in table_info.items():
    print(f"Table Name: {table_name}")
    print(f"Columns: {', '.join(column.name for column in table.columns)}")
    print()

# Close the database connection (optional)
engine.dispose()

Table Name: discounts
Columns: discount_id, t_shirt_id, pct_discount

Table Name: t_shirts
Columns: t_shirt_id, brand, color, size, price, stock_quantity

In [7]:
# pip install langchain_experimental

In [8]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose = True)
qns1 =db_chain("How many size are Avaiable and show me the sizes ?")

> Entering new SQLDatabaseChain chain...
How many size are Avaiable and show me the sizes ?
SQLQuery:SELECT DISTINCT size FROM t_shirts
SQLResult: [('XS',), ('S',), ('M',), ('L',), ('XL',)]
Answer:XS, S, M, L, XL
> Finished chain.

In [9]:
# q2 = db_chain.run("If we sell all the levi's t_shirts today with discounts  applied. how much how much revenue our store will generate apply the discounts also  ?")

In [10]:
q3 = db_chain(" How many levi's white color t-shirt we have ?")

> Entering new SQLDatabaseChain chain...
 How many levi's white color t-shirt we have ?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(60,), (82,), (80,), (58,)]
Answer:82
> Finished chain.

# Few Short Learning

In [11]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "91"},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': "22292"},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': "16725.4"} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : "17462"},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "290"
     },
    {'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size="L"
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer' : "290"
    }
]

In [12]:
# pip install sentence-transformers

In [13]:
from langchain.embeddings import HuggingFaceEmbeddings

In [14]:
# Import the HuggingFaceEmbeddings class
from langchain.embeddings import HuggingFaceEmbeddings

# Initialize the embeddings model
embeddings_model = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

# Use the model to obtain text embeddings
e = embeddings_model.embed_query("How many color levi's shirt i have ?")

In [15]:
e[:5]

[-0.0077150301076471806,
 0.05189425125718117,
 -0.008801446296274662,
 -0.013799653388559818,
 0.02363337017595768]

In [16]:
# form few_shots (cell[11]) we taking only values not key 

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [17]:
to_vectorize[0]

"How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 91"

In [18]:
# pip install chromadb

In [19]:
from langchain.vectorstores import Chroma
import chromadb

In [20]:
vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings_model, metadatas=few_shots)

In [21]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.prompts.prompt import PromptTemplate

example_selector = SemanticSimilarityExampleSelector(
vectorstore = vectorstore,
k=2)

example_selector.select_examples({"Question":"How many Adidas T shirt i have left in my store"})

[{'Answer': '91',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '290',
  'Question': 'how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?',
  'SQLQuery': 'SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = \'Nike\' and size="L"\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ',
  'SQLResult': 'Result of the SQL query'}]

In [22]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt


print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [23]:
from langchain.prompts.few_shot import FewShotPromptTemplate

example_prompt = PromptTemplate(
        input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
        template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
    )

few_shot_prompt = FewShotPromptTemplate(
        example_selector=example_selector,
        example_prompt=example_prompt,
        prefix=_mysql_prompt,
        suffix=PROMPT_SUFFIX,
        input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
    )

In [24]:
chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [25]:
chain.run("How many white color levi's shirt we have ?")

> Entering new SQLDatabaseChain chain...
How many white color levi's shirt we have ?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('280'),)]
Answer:280
> Finished chain.

'280'

In [26]:
chain.run("How much price of all extra smalls t shirt of adidas we have ? ")

> Entering new SQLDatabaseChain chain...
How much price of all extra smalls t shirt of adidas we have ?
SQLQuery:SELECT sum(price*stock_quantity) as total_price from t_shirts where brand = 'Adidas' and size = 'XS'
SQLResult: [(Decimal('5602'),)]
Answer:5602
> Finished chain.

'5602'

In [27]:
chain.run("If we sell all the levi's t_shirts today with discounts  applied. how much how much revenue our store will generate apply the discounts also  ?")

> Entering new SQLDatabaseChain chain...
If we sell all the levi's t_shirts today with discounts  applied. how much how much revenue our store will generate apply the discounts also  ?
SQLQuery:SELECT sum(price * stock_quantity * (100-pct_discount)/100) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi'
SQLResult: [(Decimal('4143.100000'),)]
Answer:4143.1
> Finished chain.

'4143.1'